<%= simple_form_for @profile do |f| %>

  <div class="col-xs-6" id="panels" style="border: solid; border-radius: 1px;">
    <div class ="row header-bar">  
      <div class="col-xs-6">
        <h4>Profile</h4>
      </div>
    </div>

    <%= f.label :first_name %>
    <br>
    <%= f.input_field :first_name %>
    <br>
    <%= f.label :last_name %>
    <br>
    <%= f.input_field :last_name%>
    <br>
    <%= f.label :address %>
    <br>
    <%= f.input_field :address%>
    <br>
    <%= f.label :zip %>
    <br>
    <%= f.input_field :zip%>
    <br>
    <%= f.label :city %>
    <br>
    <%= f.input_field :city%>
    <br>
    <%= f.label :state %>
    <br>
    <%= f.input_field :state, collection: us_states, prompt: "select your state"%>


    

      <div class ="row footer-bar">  
        <ul class="list-unstyled" id="footers">
          <%= f.submit "Post the Post" %>
          </ul>
          
      </div>
    </div>
  </div>

<% end %>