<div class="row">
  <ul>
    <%= form_tag sessions_path, method: :create do %>
  
      <%= label_tag do %>
        Email
        <%= text_field_tag :email %>
      <% end %>

      <br>

      <%= label_tag do %>
        Password
        <%= password_field_tag :password %>
      <% end %>
    
      <br>

      <%= submit_tag "Log in" %>  <button> <%= link_to "Sign Up", new_user_path %> </button>
    <% end %>
  </ul>
</div>