<div>
  <ul>
  <h2>
    :: <kbd><%= profile.first_name %> <%= profile.last_name %>s</kbd> Kickass Profile ::
  </h2>

    <table class="table table-striped table-hover table-bordered">
      <tr>
        <th>
          address
        </th>
        <th>
          zip
        </th>
        <th>
          city
        </th>
        <th>
          state
        </th>
      </tr>

      <tr>

        <th>
          <%= profile.address %>
        </th>
        <th>
          <%= profile.zip %>
        </th>
        <th>
          <%= profile.city %>
        </th>
        <th>
          <%= profile.state %>
        </th>
      </tr>
    </table>
  </ul>
</div>

