<div>
  <ul>
  <h2>
    :: <%= profile.first_name %>&<%= profile.last_name %>s Kickass Profile ::
  </h2>
    <li>
      Address: <%= profile.address %>
    </li>
    <li>
      Zip: <%= profile.zip %>
    </li>
    <li>
      City: <%= profile.city %>
    </li>
    <li>
      State: <%= profile.state %>
    </li>
  </ul>
</div>

