<br>
<ul>
<% if !@places_near_me.empty? %>
  
  <code> Search results... <%= @places_near_me.length %> POIs Near You </code>
  
  <br>

  
  <% @places_near_me.each do |places| %>
    <br>

    <div id="image-holder">
      <img src=<%= (static_map_for(places["latitude"], places["longitude"], places["address"]) + add_key) %> alt="gmap">
    </div>

    <br>

    <button type="button" class="btn btn-warning"> <%= link_to "Add To My Locations", locations_path(:user_id => current_user.id, :location => { :address => places["address"] } ), method: :create %> </button>

    </br>

    <table class="table table-striped table-hover">
      <tr>
        <th>
          name
        </th>
        <th>
          address
        </th>
        <th>
          category labels
        </th>
        <th>
          latitude
        </th>
        <th>
          longitude
        </th>
      </tr>
      <tr>
        <td>
          <%= places["name"] %>
        </td>
        <td>
          <%= places["address"] %>
        </td>
        <td>
            <% if places["category_labels"] %>
            <li>
              <%= places["category_labels"][0].join(", ") %>
            </li>
          <% end %>
        </td>
        <td>
          <%= places["latitude"] %>
        </td>
        <td>
          <%= places["longitude"] %>
        </td>
      </tr>
    </table>
    


  <% end %>
  </tr>
<% else %>
  YOU LIVE IN A DESERT JUST ROT AND IED ALREADY <h1>-RESTINPEACEHARAMBE- </h1>
<% end %>

</ul>